  <ion-toolbar color="light" style="padding: 0; min-height: 50px;"> <!-- Ajusta a altura do toolbar -->
    <ion-row class="ion-justify-content-center" style="padding: 0; margin: 0;"> <!-- Centraliza os itens -->
      <ion-col size="auto" style="padding: 0; text-align: center;"> <!-- Centraliza o conteúdo nas colunas -->
        <ion-button expand="full" fill="clear" href="https://www.facebook.com/seu-facebook" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="logo-facebook" style="margin: 0;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="https://twitter.com/seu-twitter" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="logo-twitter" style="margin: 0;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="https://www.linkedin.com/in/seu-linkedin" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="logo-linkedin" style="margin: 0;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="https://www.instagram.com/seu-instagram" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="logo-instagram" style="margin: 0;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="mailto:seu-email@example.com" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="mail-outline" style="margin: 0;"></ion-icon> <!-- ícone de mail -->
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="tel:+1234567890" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="call" style="margin: 0;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" style="padding: 0; text-align: center;">
        <ion-button expand="full" fill="clear" href="/search" class="footer-link" style="height: 50px;">
          <ion-icon slot="icon-only" name="search-outline" style="margin: 0;"></ion-icon> <!-- ícone de pesquisa -->
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

