<ion-content fullscreen="true" slot="fixed">
  <div class="header">
    <app-header></app-header>
    <!-- Header content -->
    <div class="avatar">
      <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="">
    </div>
    <div class="name-info">Derek Prates</div>
    <div class="stats">Posts: 3 Groups: 10 Friends: 45</div>
  </div>
<!--
  <ion-buttons class="edit-button">
    <ion-button >Update</ion-button>
  </ion-buttons>
-->


<div class="card">
  <!-- Second card -->
  <div class="card-body">
    <!-- Card body -->
    <div class="media-card">
      <!-- Media card content -->
      <ion-card-header>
        <ion-card-title class="custom-card-title-center">My Albums</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Box with all pictures -->
        <div class="picture-box">
          <div class="picture" *ngFor="let image of images; let i = index" (click)="changeSlide(i)">
            <img [src]="image" alt="Thumbnail">
          </div>
        </div>

        <div class="card">
          <!-- Second card -->
          <div class="card-body">
            <!-- Card body -->
            <div class="media-card">
              <ion-card-content>
                <!-- Carousel -->

                <div class="carousel-container">

                  <div class="carousel-wrapper">

                    <div class="carousel" [style.transform]="transform">
                      <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
                        <img [src]="image" alt="Slide">
                      </div>
                    </div>
                  </div>

                  <div class="carousel-nav-prev">
                    <button (click)="prevSlide()">&#10094;</button>
                  </div>
                  <div class="carousel-nav-next" >
                    <button (click)="nextSlide()">&#10095;</button>
                  </div>
                </div>

              </ion-card-content>
            </div>
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>

