<ion-toolbar class="ion-align-items-center ion-justify-content-between responsive-toolbar">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-img src="https://pbs.twimg.com/media/E1vu04MWYAECE0w.png" class="header-image"></ion-img>
  <ion-title class="ion-text-center desktop-title">
    {{headerTitle}}
  </ion-title>
  <ion-buttons slot="end" class="responsive-buttons">
    <ion-button class="round-button" routerLink="/register" (click)="signup()" shape="round">Sign Up</ion-button>
    <ion-button class="round-button" routerLink="/login" (click)="login()" shape="round">Login</ion-button>
    <ion-button class="round-button" routerLink="/donation" (click)="donation()" shape="round">Donate</ion-button>
  </ion-buttons>
</ion-toolbar>
