.hidden-menu ion-content {
  display: none !important;
}

ion-menu-button {
  display: none; /* Hide the menu button by default */
}

/* General Styles */
.image-container ion-img {
  max-width: 100%; /* Max width of image */
  max-height: 100%; /* Auto-adjust height */

}

.responsive-buttons {
  padding-right: 50px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

ion-toolbar {
  display: flex; /* Make the toolbar a flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

ion-title {
  color: #513894; /* Purple color */
}

ion-fab-button {
  --background: #B95CF4; /* Purple fill color */
  position: relative; /* For tooltip positioning */
  color: #fff;
}

/* Tooltip Styles for FAB Button */
ion-fab-button:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%; /* Tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 1px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1000;
}

ion-fab-button:hover::before {
  content: '';
  position: absolute;
  bottom: 90%; /* Tooltip arrow positioning */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1000;
}

.login-button, .signIn-button {
  --background: #B95CF4;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  color: #fff; /* Text color white */
  margin: 5px; /* Adds some space between buttons */
  --border-radius: 55px; /* Ensures the buttons are rounded */
}

.round-button-donation {
  --background: #18d230;
  --border-radius: 55px; /* Ensures the buttons are rounded */
  --padding-start: calc(15px * 2 + 31px); /* Combined width of login and sign-in button */
  --padding-end:  calc(15px * 2 + 31px); /* Combined width of login and sign-in button */
  --padding-top: 8px;
  --padding-bottom: 8px;
  color: #fff; /* Text color white */
  margin: 8px; /* Adds some space between buttons */
}

.donation-button {
  margin: 0; /* Align with login and sign-in buttons */
  padding: 8px 0 0 0; /* Adds space between login/sign-in and donation button */
}

.responsive-toolbar {
  height: 150px;
}

.responsive-toolbar .header-logo {
  width: 300px;
  margin-top: 20px;
  padding-bottom: 20px;

}

@media (max-width: 768px) {
  .desktop-title {
    display: none;
  }

  ion-menu-button {
    display: inline-block; /* Show the menu button on mobile devices */
  }

  .round-button {
    --padding-start: 4px;
    --padding-end: 4px;
    --padding-top: 4px;
    --padding-bottom: 4px;
    font-size: 8px;
    --background: #B95CF4;
    color: #fff; /* Text color white */
  }

  .responsive-toolbar .header-logo {
    width: 70px;
    padding-bottom: 15px;
  }

  .responsive-toolbar {
    height: 50px;
  }

  .responsive-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: flex-end;
  }

  .buttons-container {
    flex-direction: row; /* Ensure login and sign-up buttons are side by side on smaller screens */
  }
}

/* Specific Styles for the Back Button */
ion-back-button {
  color: #B95CF4;
  --background: transparent;
}

/* Menu Container Styles */
.menu-container {
  width: 100% !important;
  padding-bottom: 5px;
}

.menu-selector {
  display: flex !important;
  justify-content: center !important;
  background-color: #ead0f9  !important;
  padding: 10px 0 !important;
}

.menu-selector ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.menu-selector li {
  margin: 0 15px !important;
}

.menu-selector a {
  text-decoration: none !important;
  color: #333 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

.menu-selector a:hover {
  color: purple !important;
}

/* words sliding on title */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.desktop-title {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.word {
  display: inline-block;
}

.slide-in {
  animation: slideIn 3s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}

/* Vertical Button Styles */
.vertical-button {
  position: fixed;
  left: -30px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Mostrar o botão quando a classe .show for adicionada */
.vertical-button.show {
  opacity: 0 !important;
}


@media (max-width: 768px) {
  .hidden-menu ion-content {
    display: none !important;
  }

  ion-menu-button {
    display: none !important; /* Hide the menu button on mobile devices */
  }

  /* Adjust Image Container for Mobile */
  .image-container ion-img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Responsive Buttons for Mobile */
  .responsive-buttons {
    display: none !important; /* Hide buttons on mobile devices */
  }

  ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-title {
    color: #513894;
  }

  ion-fab-button {
    --background: #B95CF4;
    position: relative;
    color: #fff;
  }

  ion-fab-button:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 1px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px; /* Adjusted font size for mobile */
    z-index: 1000;
  }

  ion-fab-button:hover::before {
    content: '';
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 1000;
  }

  .login-button, .signIn-button {
    display: none !important; /* Hide login and sign-in buttons on mobile devices */
  }

  .round-button-donation {
    display: none !important; /* Hide donation button on mobile devices */
  }

  .responsive-toolbar {
    height: 80px; /* Adjust height for mobile */
  }

  .responsive-toolbar .header-logo {
    width: 100px; /* Adjust width for mobile */
    margin-top: 0; /* Adjust margin for mobile */
    padding-bottom: 10px; /* Adjust padding for mobile */
  }

  .desktop-title {
    display: none;
  }

  .menu-container {
    display: none !important; /* Hide menu on mobile devices */
    width: 100% !important;
  }

  .menu-selector {
    display: none !important; /* Hide menu on mobile devices */
    justify-content: center !important;
    background-color: #B95CF4 !important;
    padding: 5px 0 !important; /* Adjust padding for mobile */
  }

  .menu-selector ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }

  .menu-selector li {
    margin: 0 10px !important; /* Adjust margin for mobile */
  }

  .menu-selector a {
    text-decoration: none !important;
    color: #333 !important;
    font-weight: bold !important;
    font-size: 16px !important; /* Adjust font size for mobile */
  }

  .menu-selector a:hover {
    color: purple !important;
  }

  /* Specific Styles for the Back Button */
  ion-back-button {
    color: #B95CF4;
    --background: transparent;
  }

  /* Vertical Button Styles for Mobile */
  .vertical-button {
    left: -20px; /* Adjust position for mobile */
    font-size: 14px; /* Adjust font size for mobile */
    padding: 5px 10px; /* Adjust padding for mobile */
  }

  .vertical-button.show {
    opacity: 0 !important;
  }
}
