.hidden-menu ion-content {
  display: none !important;
}
ion-menu-button {
  display: none; /* Hide the menu button by default */
}

/* General Styles */
.image-container ion-img {
  max-width: 100%; /* Max width of image */
  max-height: 100%; /* Auto-adjust height */
}

.responsive-buttons{
  padding-right: 50px;
  margin-top: -30px;
}

ion-toolbar {
  display: flex; /* Make the toolbar a flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

ion-title {
  color: #B95CF4; /* Purple color */
}

ion-fab-button {
  --background: #B95CF4; /* Purple fill color */
  position: relative; /* For tooltip positioning */
  color: #fff;
}

/* Tooltip Styles for FAB Button */
ion-fab-button:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%; /* Tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 1px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1000;
}

ion-fab-button:hover::before {
  content: '';
  position: absolute;
  bottom: 90%; /* Tooltip arrow positioning */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1000;
}

.login-button {
  --background: #B95CF4;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  color: #fff; /* Text color white */
  margin: 8px; /* Adds some space between buttons */
}

.signIn-button {
  --background: #B95CF4;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  color: #fff; /* Text color white */
  margin: 8px; /* Adds some space between buttons */
}

.round-button-donation {
  --background: #18d230;
  --border-radius: 55px; /* Ensures the buttons are rounded */
  --padding-start: 55px;
  --padding-end:  50px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  color: #fff; /* Text color white */
  margin: 4px; /* Adds some space between buttons */
}

.donation-button{
  margin-left: 1400px;
  padding-bottom: 30px;
  margin-top: -40px;
}

.responsive-toolbar {
  height: 150px;
}

.responsive-toolbar .header-logo {
  width: 300px;
  margin-top: 30px;
}



@media (max-width: 768px) {
  .desktop-title {
    display: none;
  }
  ion-menu-button {
    display: inline-block; /* Show the menu button on mobile devices */
  }

  .round-button {
    --padding-start: 4px;
    --padding-end: 4px;
    --padding-top: 4px;
    --padding-bottom: 4px;
    font-size: 8px;
    --background: #B95CF4;
    color: #fff; /* Text color white */
  }

  .responsive-toolbar .header-logo {
    width: 70px;
    padding-bottom: 15px;
  }

  .responsive-toolbar {
    height: 50px;
  }

  .responsive-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/* Specific Styles for the Back Button  */
ion-back-button {
  color: #B95CF4;
  --background: transparent;
}

/* Menu Container Styles */
.menu-container {
  width: 100% !important;
}

.menu-selector {
  display: flex !important;
  justify-content: center !important;
  background-color: #f5f5f5 !important;
  padding: 10px 0 !important;
}

.menu-selector ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.menu-selector li {
  margin: 0 15px !important;
}

.menu-selector a {
  text-decoration: none !important;
  color: #333 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

.menu-selector a:hover {
  color: purple !important;
}

/* words sliding on title */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.desktop-title {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

}

.word {
  display: inline-block;
}

.slide-in {
  animation: slideIn 3s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}
/* Vertical Button Styles */
.vertical-button {
  position: fixed;
  left: -30px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Mostrar o botão quando a classe .show for adicionada */
.vertical-button.show {
  opacity: 0 !important;
}
