<ion-content fullscreen="true" slot="fixed">
  <div class="header">
    <app-header headerTitle="Connections"></app-header>
    <!-- Header content -->
    <div class="avatar">
      <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="">
    </div>
    <div class="name-info">Derek Prates</div>
    <div class="stats">Posts: 3 Groups: 10 Friends: 45</div>
  </div>
<!--
  <ion-buttons class="edit-button">
    <ion-button >Update</ion-button>
  </ion-buttons>
-->
  <div class="card">
    <!-- Second card -->
    <div class="card-body">
      <!-- Card body -->
      <div class="media-card">
        <!-- Media card content -->
        <ion-card-header>
          <ion-card-title class="custom-card-title-center">Contacts</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Contact List -->
          <div class="contact-list">
            <div class="contact-grid">
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 1">
                </div>

                <div class="contact-info">
                  <h2>Contact Name 1</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
              <ion-card class="contact-card">
                <div class="contact-avatar">
                  <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="Contact 2">
                </div>
                <div class="contact-info">
                  <h2>Contact Name 2</h2>
                  <ion-buttons>
                    <div class="see-button">
                      <app-buttons  color="success" icon="ellipsis-horizontal"></app-buttons>
                      </div>
                    <app-buttons color="primary" icon="chatbubble-outline" label="Message"></app-buttons>
                    <app-buttons color="danger" icon="remove-circle-outline" label="Unfollow"></app-buttons>
                  </ion-buttons>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card-content>
      </div>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>
