<ion-content fullscreen="true" slot="fixed">
  <div class="header">
    <app-header headerTitle="Videos"></app-header>
    <!-- Header content -->
    <div class="avatar">
      <img src="https://media.licdn.com/dms/image/D4E03AQEPuEFpai8f4Q/profile-displayphoto-shrink_400_400/0/1677082915350?e=2147483647&v=beta&t=I4ucGuL4uMhjv4BDwp3jDPmLFxOXJeDLh8wEEdgPWG4" alt="">
    </div>
    <div class="name-info">Derek Prates</div>
    <div class="stats">Posts: 3 Groups: 10 Friends: 45</div>
  </div>
<!--
  <ion-buttons class="edit-button">
    <ion-button >Update</ion-button>
  </ion-buttons>
-->


<div class="card">
  <!-- Second card -->
  <div class="card-body">
    <!-- Card body -->
    <div class="media-card">
      <!-- Media card content -->
      <ion-card-header>
        <ion-card-title class="custom-card-title-center">Media Videos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Media pictures content -->
        <div class="media-grid">
          <!-- Media grid content -->
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 1</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 2</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 3</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 1</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 2</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 3</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 1</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 2</div>
          </div>
          <div class="media-item">
            <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwVOS93n1kWPcg2qOQK_HNAUHbFHQVUD2uQ&s"></ion-img>
            <div class="media-name">Name 3</div>
          </div>
          <!-- Repeat the above block for each image -->
        </div>
        <!-- Closing div for media-grid -->
      </ion-card-content>
      <!-- Closing div for ion-card-content -->
    </div>
    <!-- Closing div for media-card -->
  </div>
  <!-- Closing div for card-body -->
</div>
<!-- Closing div for card -->

<!-- Closing div for card -->
<footer>
  <app-footer></app-footer>
</footer>

</ion-content>
<!-- Closing div for ion-content -->
