<ion-content fullscreen="true" slot="fixed">
  <div class="header">
    <app-header ></app-header>
    <!-- Header content -->
    <div class="image-container">
      <app-swiper-card></app-swiper-card>
    </div>

  </div>

  <!-- About IBD Section -->
  <div class="card">
    <!-- First card -->
    <div class="card-body">
      <div class="about-ibd-section">
        <h2>About IBD</h2>
        <p>Inflammatory Bowel Disease (IBD) encompasses a group of inflammatory conditions of the colon and small intestine. The major types of IBD are Crohn's disease and ulcerative colitis. IBD is a chronic condition that can significantly impact quality of life.</p>
        <p>Our team is dedicated to providing the latest information, support, and resources to those affected by IBD. We strive to raise awareness, fund research, and offer community support to improve the lives of individuals with IBD.</p>
        <p>We invite you to learn more about IBD, explore our resources, and join our community in the fight against this challenging condition.</p>
      </div>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>
