<ion-header>
  <app-header headerTitle="Login"> </app-header>
  </ion-header>

<div class="flex-center">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <ion-card-header class="ion-title">
          <ion-card-title class="custom-spinner"> Welcome to MyCCAngel</ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="https://pbs.twimg.com/media/E1vu04MWYAECE0w.png"></ion-img>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col><ion-button size="full" (click)="login()" [disabled]="!form.valid" (click)="login()" id="loginButton">Login</ion-button></ion-col>
                <ion-col><ion-button fill="clear" size="full" (click)="register()">Register</ion-button></ion-col>
              </ion-row>
              <ion-item>
                <ion-input formControlName="email" label="Email" labelPlacement="floating"
                  placeholder="Enter your email" type="email"></ion-input>
              </ion-item>
              <app-error-message message="Email is mandatory" [field]="form.get('email')!"
                error="required"></app-error-message>
              <app-error-message message="Email is invalid" [field]="form.get('email')!"
                error="email"></app-error-message>
              <ion-item>
                <ion-input formControlName="password" label="Password" labelPlacement="floating"
                  placeholder="Enter your password" type="password"></ion-input>
              </ion-item>
              <app-error-message message="Password is mandatory" [field]="form.get('password')!"
                error="required"></app-error-message>
              <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email')?.valid" (click)="forgotEmailPassword()" id="recoverPasswordButton">Forget
                email/password</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</div>
  <footer>
    <app-footer></app-footer>
    </footer>
