<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-input label="name" labelPlacement="floating" placeholder="Enter your name" type="name" formControlName="name"></ion-input>
        <app-error-message message="Name is mandatory" [field]="registerForm.getForm().get('name')!" error="required"></app-error-message>
      </ion-item>
      <ion-item>
        <ion-input label="email" labelPlacement="floating" placeholder="Enter your email" type="email" formControlName="email"></ion-input>
        <app-error-message message="Email is invalid" [field]="registerForm.getForm().get('email')!" error="email"></app-error-message>
        <app-error-message message="Email is mandatory" [field]="registerForm.getForm().get('email')!" error="required"></app-error-message>
      </ion-item>
      <ion-item>
        <ion-input label="password" labelPlacement="floating" placeholder="Enter your password" type="password" formControlName="password"></ion-input>
        <app-error-message message="Password is mandatory" [field]="registerForm.getForm().get('password')!" error="required"></app-error-message>
        <app-error-message message="Password must be at least 7 characters long" [field]="registerForm.getForm().get('password')!" error="minlength"></app-error-message>
      </ion-item>
      <ion-item>
        <ion-input label="Repeat password" labelPlacement="floating" placeholder="Confirm your password" type="password" formControlName="repeatPassword"></ion-input>
        <app-error-message message="Confirm password is mandatory" [field]="registerForm.getForm().get('repeatPassword')!" error="required"></app-error-message>
        <app-error-message message="Passwords must be identical" [field]="registerForm.getForm().get('repeatPassword')!" error="areEqual"></app-error-message>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Address Information</ion-card-title>
      </ion-card-header>
      <ion-card-content formGroupName="address">
        <ion-item>
          <ion-input label="street" labelPlacement="floating" placeholder="Enter your address street" type="text" formControlName="street" ></ion-input>  <!-- #autocomplete-->
          <app-error-message message="Street is mandatory" [field]="registerForm.getForm().get('address')?.get('street')!" error="required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input label="number" labelPlacement="floating" placeholder="Enter your address number" type="tel" formControlName="number"></ion-input>
          <app-error-message message="Number is mandatory" [field]="registerForm.getForm().get('address')?.get('number')!" error="required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input label="complement" labelPlacement="floating" placeholder="Complement" type="text" formControlName="complement"></ion-input>
          <app-error-message message="Complement is mandatory" [field]="registerForm.getForm().get('address')?.get('complement')!" error="required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input label="city" labelPlacement="floating" placeholder="City" type="text" formControlName="city"></ion-input>
          <app-error-message message="City is mandatory" [field]="registerForm.getForm().get('address')?.get('city')!" error="required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input label="zipCode" labelPlacement="floating" placeholder="Zip Code" type="text" formControlName="zipCode"></ion-input>
          <app-error-message message="Zip Code is mandatory" [field]="registerForm.getForm().get('address')?.get('zipCode')!" error="required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input label="country" labelPlacement="floating" placeholder="Country" type="text" formControlName="country"></ion-input>
          <app-error-message message="Country is mandatory" [field]="registerForm.getForm().get('address')?.get('country')!" error="required"></app-error-message>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </form>
  <ion-button (click)="register()">Register</ion-button>
</ion-content>











<footer>
  <app-footer></app-footer>
</footer>
