<ion-header>
<app-header headerTitle="Make IBD people's lives better everywhere "></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <ion-button color="light" class="custom-button early-diagnosis-button ion-text-left" style="flex: 1; text-align: left;">
          Diagnosis
        </ion-button>
        <ion-button color="light" class="custom-button ion-text-center" style="flex: 1; text-align: center;">
          Appointment
        </ion-button>
        <ion-button color="light" class="custom-button ion-text-right" style="flex: 1; text-align: right;">
          Treatment
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="image-container">
    <app-swiper-card></app-swiper-card>
  </div>

  <div class="main-container">
    <!-- Card e calendário -->
    <div class="card-calendar-container">
      <!-- Card -->
      <ion-card class="left-card">
        <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>Last Records</ion-card-subtitle>
        </ion-card-header>
        <app-records-card status="Hold" updateAt="24/04/2024" createAt="24/04/2024" notes="New add"></app-records-card>
          <ion-button *ngIf="hasFooter" color="success" fill="clear" size="full" (click)="allrecords()">See all...</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- Calendário e eventos -->
      <div class="right-container">
        <!-- Calendário -->
        <div class="calendar-container">
          <ion-title class="ion-text-center">Coming Events</ion-title>
          <ion-datetime
            presentation="date"
            value="2024-06-01"
            min="2024-06-01"
            max="2030-12-31"
            (ionChange)="onDateChange($event)"
          ></ion-datetime>
        </div>

        <!-- Event -->
        <div class="events-list">
          <ion-list>
            <ion-item *ngFor="let event of events">
              <ion-label>
                <h2>{{ event.title }}</h2>
                <p>{{ event.date }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div> <!-- Fechamento da div right-container -->
    </div> <!-- Fechamento da div card-calendar-container -->
  </div> <!-- Fechamento da div main-container -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button title="Press to start a conversation.">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<footer>
<app-footer></app-footer>
</footer>
