<!-- src/app/components/swiper-card/swiper-card.component.html -->

<div class="image-container">
  <ion-card>
    <ion-card-content>
      <swiper-container class="custom-swiper" [pagination]="true" navigation="true">
        <swiper-slide>
          <img src="https://static.vecteezy.com/system/resources/previews/023/107/177/non_2x/world-inflammatory-bowel-disease-day-template-for-background-banner-card-poster-illustration-vector.jpg" alt="Slide 1">
        </swiper-slide>
        <swiper-slide>
          <img src="https://static.vecteezy.com/system/resources/previews/023/107/177/non_2x/world-inflammatory-bowel-disease-day-template-for-background-banner-card-poster-illustration-vector.jpg" alt="Slide 2">
        </swiper-slide>
        <swiper-slide>
          <img src="https://static.vecteezy.com/system/resources/previews/023/107/177/non_2x/world-inflammatory-bowel-disease-day-template-for-background-banner-card-poster-illustration-vector.jpg" alt="Slide 3">
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
</div>
