/* General Styles */
ion-content {
  --background: #fff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ion-toolbar {
  --background: transparent;
}

ion-chip {
  font-size: 30px;
  font-weight: 200;
  color: #303940;
  background-color: transparent;
}

.cover {
  padding-top: 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
  padding: 40px;
  border: none;
  border-radius: 15px;
  background-color: #f8f1fc;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #303940;
  font-size: 30px;
}

.card-body {
  padding: 30px 40px;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2em; /* Increase font size */
}

.contact-info h2 {
  margin-bottom: 20px;
  color: #B95CF4;
  font-size: 50px; /* Increase font size */
  font-weight: bolder;
}

.contact-info p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
  font-size: 28px; /* Increase font size */
}

.contact-form {
  flex: 1;
  font-size: 1.2em; /* Increase font size */
}

.contact-form form {
  margin: 0;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 48%;
  font-size: 24px; /* Increase font size */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px; /* Increase padding */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"],
input[type="text"],
input[type="email"] {
  height: 45px; /* Increase height */
}

textarea {
  resize: vertical;
  height: 100px; /* Increase height */
  width: 100%; /* Ensure it matches the form width */
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #B95CF4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #9a48c0;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-info {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
  }
}
